li{
	display: inline-block;
	vertical-align: middle;
}
a{
	color:#000000 ;
	font-weight: 700;
	font-size: 11px;
	line-height: 100%;
	width: 32px;
	height: 13px;
	margin-left: 35px;
}
h1{
	font-size: 24px;
	font-weight: 700;
	color: #000000;
	width: 120px;
	height: 28px;
	margin-bottom: 500px;
}
p{
	color: #8A8787;
	font-size: 10px;
	font-weight: 700;
}
h6{
	color: #8A8787;
	font-size: 10px;
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
}
h2{
	display: inline-block;
	vertical-align: middle;
}
img{
	display: inline-block;
	vertical-align: middle;
	margin-left: 138px;
}
h3{
	display: inline-block;
	vertical-align: middle;
}
.row{
	display: inline-block;
	vertical-align: middle;
}
.row2{
	display: inline-block;
	vertical-align: middle;
}


